# environment variables - read by docker-compose.
# copy this to .env in the setup folder and update values.

# ---------------------------------------------------------
# postgres/timescaledb
# ---------------------------------------------------------
PGHOST=postgres # use this for ubuntu, friendlycore, etc
# PGHOST=host.docker.internal # use this for mac
PGPORT=5432
PGDATABASE=postgres
PGUSER=postgres
# whatever you set here is the initial pw for the db - must change manually afterwards.
PGPASSWORD=postgres # IMPORTANT - set this before running postgres

# ---------------------------------------------------------
# grafana
# ---------------------------------------------------------
# note: default login is admin, pw admin - will need to change on first login
GRAFANA_PORT=3000  # this is the default, but need to specify here
# GRAFANA_PORT=80 # 80 is used by traefik
# GRAFANA_PORT=3009  # use this when running locally

# ---------------------------------------------------------
# relay
# ---------------------------------------------------------
RELAY_FEEDBACK_OFF=true
