.DS_Store
node_modules
*.lock
.gradle
*.log
*.db
.firebase
pi.sh
.env
.vscode
.venv
_old

volumes/adapter/cookies
volumes/cloudbeaver
volumes/grafana/var
# volumes/hue
# !volumes/hue/hue.ini
volumes/mosquitto/data
volumes/mosquitto/log
volumes/portainer/data
volumes/postgres/data
volumes/nodered
volumes/traefik/acme.json

